/********** Colors **********/
.desktop {
  background-color: var(--Background);
  font-family: Tahoma,"Microsoft Sans Serif","MS Sans Serif",sans-serif; }

.window {
  background-color: var(--ButtonFace);
  color: var(--WindowText);
  border-color: var(--ActiveBorder);
  font-size: 11px;
  box-shadow: -1px -1px 0 0px var(--ButtonHilight),
		-1px 0px 0 0px var(--ButtonHilight),
		0px -1px 0 0px var(--ButtonHilight),
		0 0 0 1px var(--ButtonShadow),
		-1px -1px 0 1px var(--ButtonLight),
		-1px 0px 0 1px var(--ButtonLight),
		0px -1px 0 1px var(--ButtonLight),
		0 0 0 2px var(--ButtonDkShadow); }

.menubar {
  background-color: var(--Menu);
  font-size: 11px; }

.disabled {
  color: var(--GrayText); }

.selected {
  background-color: var(--Hilight);
  color: var(--HilightText); }

.titlebar .titlebar-title {
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  font-weight: bold; }

.button {
  background-color: var(--ButtonFace);
  color: var(--ButtonText);
  box-shadow: -1px -1px 0px 0px var(--ButtonDkShadow) inset,
		1px 1px 0px 0px var(--ButtonHilight) inset,
		-2px -2px 0px 0px var(--ButtonShadow) inset
		,2px 2px 0px 0px var(--ButtonLight) inset; }
  .button:active {
    box-shadow: -1px -1px 0px 0px var(--WindowFrame) inset,
		1px 1px 0px 0px var(--WindowFrame) inset,
		-2px -2px 0px 0px var(--ButtonShadow) inset
		,2px 2px 0px 0px var(--ButtonShadow) inset; }
  .button svg path {
    fill: var(--ButtonText); }

.window-content .button.ok {
	box-shadow: -1px -1px 0px 0px var(--ButtonDkShadow) inset,
		1px 1px 0px 0px var(--ButtonHilight) inset,
		-2px -2px 0px 0px var(--ButtonShadow) inset
		,2px 2px 0px 0px var(--ButtonLight) inset;
}

.window-content .button.ok:active {
	box-shadow: -1px -1px 0px 0px var(--WindowFrame) inset,
		1px 1px 0px 0px var(--WindowFrame) inset,
		-2px -2px 0px 0px var(--ButtonShadow) inset
		,2px 2px 0px 0px var(--ButtonShadow) inset;
}

.titlebar .button:active {
  box-shadow: -0.5px -0.5px 0px 0.5px var(--ButtonShadow), 0px 0px 0px 1px var(--ButtonLight), -0.5px -0.5px 0px 1.5px var(--ButtonDkShadow), 0px 0px 0px 2px var(--ButtonHilight); }

.text-pane {
  margin: 2px 0;
  padding: 2px;
  background-color: var(--Window);
  color: var(--WindowText);
  box-shadow: -0.5px -0.5px 0px 0.5px var(--ButtonDkShadow), 0px 0px 0px 1px var(--ButtonLight), -0.5px -0.5px 0px 1.5px var(--ButtonShadow), 0px 0px 0px 2px var(--ButtonHilight); }
  .text-pane p {
    margin: 0; }

.monospace {
  font-family: "Lucida Console", monospace; }

/* Active Window */
.window.active {
  border: 1px solid var(--ActiveBorder); }
  .window.active .titlebar .titlebar-icon {
    background-color: var(--ActiveTitle);
    color: var(--TitleText); }
  .window.active .titlebar .titlebar-title {
    background-color: var(--ActiveTitle);
    background-image: linear-gradient(to right, var(--ActiveTitle), var(--GradientActiveTitle));
    color: var(--TitleText); }
  .window.active .titlebar .titlebar-wincontrols, .window.active .titlebar .titlebar-wincontrols .buttons-wrapper {
    background-color: var(--GradientActiveTitle);
    font-size: 8px;
    font-weight: bold; }

/* Inactive Window */
.window.inactive {
  border: 1px solid var(--InactiveBorder); }
  .window.inactive .titlebar .titlebar-icon {
    background-color: var(--InactiveTitle);
    color: var(--InactiveTitleText); }
  .window.inactive .titlebar .titlebar-title {
    background-color: var(--InactiveTitle);
    background-image: linear-gradient(to right, var(--InactiveTitle), var(--GradientInactiveTitle));
    color: var(--InactiveTitleText); }
  .window.inactive .titlebar .titlebar-wincontrols, .window.inactive .titlebar .titlebar-wincontrols .buttons-wrapper {
    background-color: var(--GradientInactiveTitle);
    font-size: 8px;
    font-weight: bold; }

/* Scroll Pane */
.scroll-pane {
  margin: 2px;
  box-shadow: -0.5px -0.5px 0px 0.5px var(--ButtonDkShadow), 0px 0px 0px 1px var(--ButtonLight), -0.5px -0.5px 0px 1.5px var(--ButtonShadow), 0px 0px 0px 2px var(--ButtonHilight); }

.scroll-pane-content {
  box-shadow: none; }

/* Scrollbar */
.scrollbar {
	background-color: var(--Scrollbar); }
.scrollbar.verti-scroll {
	width: 16px; }
.scrollbar.horiz-scroll {
	height: 16px; }
.scrollbar .button {
	box-shadow: -1px -1px 0px 0px var(--ButtonDkShadow) inset,
		1px 1px 0px 0px var(--ButtonLight) inset,
		-2px -2px 0px 0px var(--ButtonShadow) inset,
		2px 2px 0px 0px var(--ButtonHilight) inset; }
/* sic */ }
.scrollbar .button:active {
	box-shadow: -1px -1px 0px 0px var(--WindowFrame) inset,
		1px 1px 0px 0px var(--WindowFrame) inset,
		-2px -2px 0px 0px var(--ButtonShadow) inset,
		2px 2px 0px 0px var(--ButtonShadow) inset; }

/*# sourceMappingURL=theme-template.css.map */





/* The Windows 10 preview is still a work in progress */
.desktop10 {
  background-color: var(--Background);
  font-family: "Segoe UI", sans-serif; }

